@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.box{
height:300px;
}

.card{
  height:100%;
  font-size: 60px;
}

#newPalo
{
  margin-bottom:auto;
}
#newPaloInv
{
  margin-top:auto;
 align-self: flex-end; 
 transform: rotate(180deg);
}



#newNum
{
 text-align: center; 
}


.palo[data-palo="♥"],
.palo[data-palo="♦"]{  
  color: red;
}

.palo[data-palo="♠"],
.palo[data-palo="♣"]{
  color: black;
}